<% include ./header %>
<div class="container-fluid text-center">    
    <div class="col-sm-8 text-left"> 
      <h1>Bienvenue !</h1>
      <p>Ce site est une démonstration de la base de données créée pour l'entreprise fictive "LocatIn", il permettra d'interagir avec  </p>
      <hr>
    </div>
</div>
<% include ./footer %>