<% include ./header %>
<div class="container-fluid text-center">    
    <div class="col-sm-8 text-left"> 
      <h1>Bienvenue !</h1>
      <p>Ce site est une démonstration de la base de données créée pour l'entreprise fictive Loc', décrite dans l'étude de cas du projet.</p>
      <p>Il permet d'ajouter, éditer et supprimer des lignes dans les tables, ainsi que de visualiser les requêtes demandées</p>
      <p>Pour voir l'évolution de son développement, vous pouvez retrouver le GitHub associé <a href="https://github.com/CelineDknp/LocatIn-1322-" target="_blank">ici</a></p>
      <hr>
    </div>
</div>
<% include ./footer %>