<% include ./header %>
<div class="container-fluid text-center">    
    <div class="col-sm-8 text-left"> 
      <h1>Nouveau contrat de location</h1>
      <form method="post" action="#" >
       <p>
          <label>Numéro de la réservation :</label>
          <select name="reserv" id="reserv" required>
            <%_ reserv.forEach(function(el){_%>
                <option><%= el.ID %></option>
            <%_ }); _%>
          </select>
      </p>
      <p>
          <label>Numéro de permis du client :</label>
          <input type="text" name="permis" id="permis" required>
      </p>
      <p>
          <label>Kilométrage au départ :</label>
          <input type="number" name="km" id="km" min=0 required>
      </p>
      <p>
          <label>Caution :</label>
          <select name="caution" id="caution" required>
            <option>Payée</option>
            <option>Non payée</option>
          </select>
      </p>
      <p>
          <button type="submit" class="btn-new" name="val">Ajouter</button>
      </p>
  </form>
    </div>
</div>
<% include ./footer %>