<% include ./header %>
<div class="container-fluid text-center">    
    <div class="col-sm-8 text-left"> 
      <h1>Nouvelle classe de tarification</h1>
      <form method="post" action="#" >
      <p>
          <label>Code de la classe :</label>
          <input type="text" name="codeT" id="codeT" required >
      </p>
       <p>
          <label>Prix au kilomètre :</label>
          <input type="number" name="prix" id="prix" min = 0 required >
      </p>
      <p>
          <label>Amende journalière :</label>
          <input type="number" name="amende" id="amende" min=0 required>
      </p>
      <p>
          <label>Code du modèle :</label>
          <select name="code" id="code" required>
            <%_ modele.forEach(function(el){_%>
                <option><%= el.Code %></option>
            <%_ }); _%>
          </select>
      </p>
      <p>
          <label>Numéro du contrat :</label>
          <select name="contrat" id="contrat" required>
            <%_ contrat.forEach(function(el){_%>
                <option><%= el.NumContrat %></option>
            <%_ }); _%>
          </select>
      </p>
      <p>
          <button type="submit" class="btn-new" name="val">Ajouter</button>
      </p>
  </form>
    </div>
</div>
<% include ./footer %>