<% include ./header %>
<div class="container-fluid text-center">    
    <div class="col-sm-8 text-left"> 
    <%_ if(data=="null") {_%>
      <h1>Nouvelle formule de location</h1>
      <%_}_%>
      <%_ if(data!="null") {_%>
      <h1>Éditer formule de location</h1>
      <%_}_%>
      <form method="post" action="#" >
       <p>
          <label>Type :</label>
          <select name="type" id="type" required>
            <option>jour</option>
            <option>semaine</option>
            <option>weekEnd</option>
          </select>
      </p>
      <p>
          <label>Kilomètres formaitaires :</label>
          <input type="number" value="<%= data[0].KMForfait %>" name="km" id="km" min=0 required>
      </p>
      <p>
          <label>Code de tarification :</label>
          <select name="code" id="code" required>
            <%_ tarif.forEach(function(el){_%>
                <option><%= el.Code %></option>
            <%_ }); _%>
          </select>
      </p>
      <p>
          <label>Montant forfaitaire :</label>
          <input type="number" value="<%= data[0].MontantForfait %>" name="montant" id="montant" min = 0 required>
      </p>
      <p>
          <button type="submit" class="btn-new" name="val"><%_ if(data=="null") {_%>Ajouter<%_}_%><%_ if(data!="null") {_%>Editer<%_}_%></button>
      </p>
  </form>
    </div>
</div>
<% include ./footer %>