<% include ./header %>

<div class="container-fluid text-center">    
    <div class="col-sm-8 text-left"> 
      <h1>Choisissez ce que vous voulez faire</h1>
      <p><a href="/ajoutDB/assureur">Ajouter un assureur</a></p>
      <p><a href="/ajoutDB/contrAssur">Nouveau contrat d'assurance</a></p>
      <p><a href="/ajoutDB/client">Ajouter un client</a></p>
      <p><a href="/ajoutDB/voiture">Ajouter une voiture</a></p>
      <p><a href="/ajoutDB/classeTarif">Créer une classe de tarification</a></p>
      <p><a href="/ajoutDB/formLoc">Créer une formule de location</a></p>
      <p><a href="/ajoutDB/modele">Créer un modèle de voiture</a></p>
      <p><a href="/ajoutDB/reservation">Nouvelle réservation</a></p>
      <p><a href="/ajoutDB/contratLoc">Nouveau contrat de location</a></p>
      <p><a href="/ajoutDB/retour">Nouveau bon de retour</a></p>
      <p><a href="/ajoutDB/facture">Nouvelle facture</a></p>
    </div>
</div>
<% include ./footer %>