<% include ./header %>
<div class="container-fluid text-center">    
    <div class="col-sm-8 text-left"> 
      <%_ if(data=="null") {_%>
      <h1>Nouveau contrat de location</h1>
      <%_}_%>
      <%_ if(data!="null") {_%>
      <h1>Éditer contrat de location</h1>
      <%_}_%>
      <form method="post" action="#" >
       <p>
          <label>Numéro de la réservation :</label>
          <select name="reserv" id="reserv" required>
            <%_ reserv.forEach(function(el){_%>
                <%_ if(data[0].NReserv == el.ID) {_%>
                <option selected> <%= el.ID %> </option>
                <%_}_%>
                <%_ if(data[0].NReserv != el.ID) {_%>
                <option> <%= el.ID %> </option>
                <%_}_%>
            <%_ }); _%>
          </select>
      </p>
      <p>
          <label>Numéro de permis du client :</label>
          <input type="text" value="<%= data[0].NPermis %>" name="permis" id="permis" required>
      </p>
      <p>
          <label>Kilométrage au départ :</label>
          <input type="number" value="<%= data[0].KMDepart %>" name="km" id="km" min=0 required>
      </p>
      <p>
          <label>Caution :</label>
          <select name="caution" id="caution" required>
            <%_ if(data[0].Caution == "Payée") {_%>
            <option selected>Payée</option>
            <option>Non payée</option>
            <%_}_%>
            <%_ if(data[0].Caution != "Payée") {_%>
            <option>Payée</option>
            <option selected >Non payée</option>
            <%_}_%>
          </select>
      </p>
      <p>
          <button type="submit" class="btn-new" name="val"><%_ if(data=="null") {_%>Ajouter<%_}_%><%_ if(data!="null") {_%>Editer<%_}_%></button>
      </p>
  </form>
    </div>
</div>
<% include ./footer %>