<!DOCTYPE html>
<html lang="en">
<head>
  <title>LocatIn</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/style/style.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li <%_ if(titre=='accueil') {_%> class='active' <%_}_%>><a href="/">Accueil</a></li>
        <li <%_ if(titre=='voir') {_%> class='active' <%_}_%>><a href="/voirDB">Voir les données</a></li>
        <li <%_ if(titre=='ajout') {_%> class='active' <%_}_%>><a href="/ajoutDB">Ajouter des données</a></li>
        <li <%_ if(titre=='contrat') {_%> class='active' <%_}_%>><a href="/contratModele">Contrat des assureurs</a></li>
        <li <%_ if(titre=='factures') {_%> class='active' <%_}_%>><a href="/factures">Détail des factures</a></li>
        <li <%_ if(titre=='dedommagement') {_%> class='active' <%_}_%>><a href="/dedommagement">Remboursements</a></li>
        <li <%_ if(titre=='contact') {_%> class='active' <%_}_%>><a href="/contact">Contact</a></li>
      </ul>
      <!--
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><span class="glyphicon glyphicon-log-in"></span>Se connecter</a></li>
      </ul>-->
    </div>
  </div>
</nav>
