<% include ./header %>

<div class="container-fluid text-center">    
    <div class="col-sm-8 text-left"> 
      <h1>Choisissez les données que vous voulez visualiser</h1>
      <p><a href="/voirDB/assureur">Assureurs</a></p>
      <p><a href="/voirDB/contratAssur">Contrats d'assurance</a></p>
      <p><a href="/voirDB/clients">Clients</a></p>
      <p><a href="/voirDB/voitures">Voitures</a></p>
      <p><a href="/voirDB/classesTarif">Classes de tarification</a></p>
      <p><a href="/voirDB/formules">Formules de location</a></p>
      <p><a href="/voirDB/modeles">Modèles de voiture</a></p>
      <p><a href="/voirDB/reservation">Réservations</a></p>
      <p><a href="/voirDB/contratLoc">Contrats de location</a></p>
      <p><a href="/voirDB/retour">Bons de retour</a></p>
      <p><a href="/voirDB/factures">Factures</a></p>
    </div>
</div>
<% include ./footer %>